* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Gugi', cursive;
}
/* Navbar styleling */
nav{
    position: fixed;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(236, 60, 60);
}

.brand {
    color: rgb(247, 245, 245);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
    font-weight: 200px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(247, 245, 245);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding-top: 19px;
    padding-bottom: 18px;
}
.nav-link:hover {
    color: rgb(85, 85, 85);
}
.menu {
    display: none;
    cursor: pointer;
}

.menu div{
    width: 25px;
    height: 3px;
    background-color:  rgb(247, 245, 245);
    margin: 5px;
    transition: all 0.5s ease;
}

/* nav ending */



/* body begin  */
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 44, 44);
}
.container{
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 150px;
    color: rgb(247, 245, 245);;
}

img {
    opacity: 0.6;
}

#skills, #portfolio, #contact {
    display: none;
}
/* body end  */


@media screen and (max-width: 1200px){
    /* nav start  */
    .nav {
        width: 50%;
    }
    /* nav end     */
}

@media screen and (max-width: 800px){
    /* nav start  */
    body {
        overflow: hidden;
    }
    .nav {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(236, 60, 60);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav li{
        opacity: 0;
    }
    .menu {
        display: block;
    }
    .brand {
        font-size: 15px;
    }
    .nav-link {
        font-size: 12px;
    }
    /* nav end  */
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}