@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    margin: 0;
    padding: 0;
}
.nav{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding: 20px;
    width: 100vw;
    background-color: aquamarine;
    margin: 0 ;
}

.nav-item {
    background-color: yellow;
}
.nav-link {
    background-color: rgb(114, 114, 128);
    padding: 20px;
    text-decoration: none;
    color: aqua;
}
.nav-link:hover {
    background-color: yellow;
    color: black;
}