@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

body {
    background-color: bisque;
}
main {
    padding: 80px;
}

p {
    font-size: large;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    text-align: middle;
}